<body id="editBody">
<%- include('../partials/nav') %>

<div class="container-sm formDiv">
    <form action="/posts/<%= post._id %>?_method=PATCH" method="POST">
        <fieldset>
            <label class="form-label postlabel">Title:</label>
            <input type="text" class="form-control" name="title" required value="<%= post.title %>" >
            <label class="form-label postlabel">Content:</label>
            <input type="text" class="form-control" name="content" required value="<%= post.content %>" style="height: 150px" ><br>

            
          
            <input type="submit" class="btn btn-success" value="Edit <%= post.title %>">
        </fieldset>
    </form>
</div>

<%- include('../partials/footer') %>
</body>